
.logo {
max-width: 100px;
max-height: 100px;
padding-top: 10px;
}


body {
background-color: #212121;
}

#Menu{
border-bottom: solid 1px white;
}

.toutbloc{
border-top: solid 1px white;
border-bottom: solid 1px white; 
}

.carousel-caption{
    margin-bottom: 12%;
}

.collab{
    margin-left: 10%;
}

#home {
background-image: url("sparksoft.jpg");
background-repeat : no-repeat;
background-position: top;
background-size:  cover;
margin-top: 4%;
padding-bottom: 5%;
}

.equipe{
    margin-top: 10%;
}


#titre {
color: white;
text-shadow: 2px 1px 3px black;
margin-bottom: 2%
}

.colorText1 {
color: white;
text-shadow:2px 1px 3px black;
font-size: large;
}

.center-text {
margin-top: 150px;
margin-bottom: 150px;
}

#perso, #contact,#temoignages {
background-color: white;
margin-top: 4%;
}

.equipeDesc{
    margin-bottom: 10%;
}

#dvd{
    background-color: #1C2331;
    margin-top: 4%;
}

#equipe{
    background-color: #1C2331;
margin-top: 4%;
}

.img-circle {
max-width: 200px ;
max-height: 200px;
}

.textperso {
padding-left: 0px;
padding-right: 0px;
}

.blocperso{
padding-top: 10px;
padding-bottom: 20px;
}

.titrebloc {
margin-bottom: 2%;
}

#kit {
background-color: #f1c40f;
margin-top: 4%;
}


.blocchimiste {
padding-top: 150px;
padding-bottom: 200px;
}

.enfant{
max-width: 300px ;
max-height: 300px;
}

.ombrestitres {
text-shadow: 2px 2px 3px white;
}

.imgdvd{
max-width: 250px ;
max-height: 250px;
margin-top: 1%;
}

.titredvd{
font-weight: bold;
}

#presentation {
background-size: cover;
background-color: #1C2331;
margin-top: 4%;
padding-bottom: 5%;
}

.black {
    color: black;
}

.formulaire{
margin-top: 2%;
margin-bottom: 2%;
}

.form-control{
border: 1px solid black;
border-radius: 0px;
}

.btn-lg{
opacity: 0.7;
height: 10%;
width: 10%;
position: fixed;
bottom: 200px;
right: 100px
}